<ul>
  <%@files.each do |f|%>
    <li>
      <%path = f.sub(Wup.webroot, '')%>
      <a href="<%=path%>"><%=path%></a>
      &nbsp;
      <a href="/top/add?wpath=<%=path%>">Top+</a>
    </li>
  <%end%>
</ul>

<h3> Tops now</h3>
<%=erb :top, locals: {files: Wup.redis.smembers("wup:top:files")} if @is_webroot%>
