<p>
  <span> current: <%=@path%> </span>
  <%if @uppath%>
    &nbsp;
    <a href='<%=@uppath%>'>..Up</a>
  <%end%>
  &nbsp;
  <a href='/'>Root</a>
  &nbsp;
  <a href='/top'>Top</a>
  &nbsp;
  <a href='/recent'>Recent</a>
  <!--
  &nbsp;
  <a href='/most'>Most Used</a>
  -->
</p>

<%=yield%>
