<p>
  <span> current: <%=@path%> </span>
  <%if @uppath%>
    &nbsp;
    <a href='/wfile<%=@uppath%>'>..Up</a>
  <%end%>
  &nbsp;
  <a href='/'>Top</a>
  &nbsp;
  <a href='/wfile'>Root</a>
  &nbsp;
  <a href='/recent'>Recent</a>
</p>

<%=yield%>

<div>
  Powered by 曹瑞建， qq: 1417864277
</div>
